# Virtual environment
.botvenv/
__pycache__/

# Python bytecode
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Logs
*.log

# Templates cache
templates/__pycache__/

# PyTorch models
*.pt

# Data folder
data/

# Processed data folder
processed_data/

# Model folder
dialogue_model_final/

# Dialogue model folder
dialogue_model/